.popup{
    height: 80vh;
    position: absolute;
    top: 45px;
    left: 44px;
}
.show{
    display: none !important;
}
.popup div{
    background-color: white;
}
.body-style{background-color: rgba(0, 0, 0, 0.2);}